@page "/ucsdocentes/details"
@using Microsoft.EntityFrameworkCore
@using Momentum.UI.Models
@inject IDbContextFactory<Momentum.UI.Data.AppDbContext2> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>UCsDocente</h2>
    <hr />
    @if (ucsdocente is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DocenteId</dt>
            <dd class="col-sm-10">@ucsdocente.DocenteId</dd>
            <dt class="col-sm-2">UCId</dt>
            <dd class="col-sm-10">@ucsdocente.UCId</dd>
            <dt class="col-sm-2">SemestreId</dt>
            <dd class="col-sm-10">@ucsdocente.SemestreId</dd>
        </dl>
        <div>
            <a href="@($"/ucsdocentes/edit?id={ucsdocente.Id}")">Edit</a> |
            <a href="@($"/ucsdocentes")">Back to List</a>
        </div>
    }
</div>

@code {
    private UCsDocente? ucsdocente;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        ucsdocente = await context.UCsDocente.FirstOrDefaultAsync(m => m.Id == Id);

        if (ucsdocente is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
